<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet/less" type="text/css" href="../public/less/menu.less">
	<script src="../node_modules/less/dist/less.min.js"></script>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../public/js/getParams.js"></script>
</head>
<body>
    <!-- 菜单商家展示界面不需要设置flex弹性盒子，设置普通盒子即可 -->
    <div class="menuBox" id="menuBox">
        <div class="menuContainer" id="menuContainer">
            <!-- 这是菜单总列表 -->
            <ul class="menuList" id="menuList">
                <!-- 这是具体到每一个商家展示的招牌菜单 -->
                <li class="shop_overview">
                    <!-- 这是li中包含的当前商家介绍的盒子 -->
                    <div class="shop_discribe">
                        <!-- 这是左侧名称、价格、地址介绍 -->
                        <div class="left_discribe">
                            <!-- 这是店名+金额 -->
                            <div class="name_price_show">
                                <p class="shopName"><a class="shopNameA" href="../views/shop_main_menu.html"></a></p>
                                <p class="minPrice"><a class="minPriceA" href="#"></a></p>
                            </div>
                            <!-- 这是商家地址 -->
                            <div class="address_show">
                                <p class="address">
                                    
                                </p><p class="distance"></p><p class="timeout"></p> 
                            </div>  
                        </div>
                        <!-- 这是右侧招牌菜展示区域 -->
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_one.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_two.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_three.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_four.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">张三快餐馆</a></p>
                                <p class="minPrice"><a href="#">￥15起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>幸福小吃街</p><p>2.3km</p><p>23分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_nine.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_seven.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_fifteen.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_thriteen.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">小二烧烤</a></p>
                                <p class="minPrice"><a href="#">￥20起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>幸福小吃街63号</p><p>2.9km</p><p>43分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_five.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_eight.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_eleven.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_two.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">云南过桥米线</a></p>
                                <p class="minPrice"><a href="#">￥20起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>幸福小吃街20号</p><p>2.3km</p><p>27分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_six.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_fifteen.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_one.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_ten.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">志玲餐馆</a></p>
                                <p class="minPrice"><a href="#">￥25起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>宝龙城市广场4楼23号</p><p>1.4km</p><p>19分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_six.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_eight.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_three.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_four.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">李四快餐店</a></p>
                                <p class="minPrice"><a href="#">￥15起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>幸福路230号</p><p>3.7km</p><p>40分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_ten.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_five.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_twelve.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_eleven.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">王五烧烤</a></p>
                                <p class="minPrice"><a href="#">￥20起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>人民广场3楼90号</p><p>2.9km</p><p>30分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_one.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_two.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_three.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_four.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">华莱士</a></p>
                                <p class="minPrice"><a href="#">￥25起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>幸福小吃街39号</p><p>2.3km</p><p>40分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_one.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_two.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_three.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_four.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">志玲八宝粥</a></p>
                                <p class="minPrice"><a href="#">￥10起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>华润万家4楼23号</p></p><p>4.2km</p><p>59分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_one.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_two.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_three.png" alt=""></span>
                                        <p class="foodName">麻辣套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_four.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">牛肉拉面</a></p>
                                <p class="minPrice"><a href="#">￥20起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>人民政府对面</p><p>3.2km</p><p>29分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_one.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_two.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_three.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_four.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="shop_overview">
                    <div class="shop_discribe">
                        <div class="left_discribe">
                            <div class="name_price_show">
                                <p class="shopName"><a href="../views/shop_main_menu.html">农家餐馆</a></p>
                                <p class="minPrice"><a href="#">￥20起送</a></p>
                            </div>
                            <div class="address_show">
                                <p>宝龙城市广场3楼33号</p><p>2.3km</p><p>23分钟</p> 
                            </div>  
                        </div>
                        <div class="right_discribe">
                            <ul class="specialty">
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_one.png" alt=""></span>
                                        <p class="foodName">套餐1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_two.png" alt=""></span>
                                        <p class="foodName">套餐2</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_three.png" alt=""></span>
                                        <p class="foodName">套餐3</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="some_specifity_food">
                                        <span class="footImg"><img src="../public/img/food_menu/Food_four.png" alt=""></span>
                                        <p class="foodName">套餐4</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul> -->
        </div>
    </div>
    <script type="text/javascript">
        // 1.页面加载时，从数据库获取到商家信息展示在界面
        $(function(){
            var nameSignText = "店"
            $.ajax({
                url : '/menu',
                type : 'post',
                data : {
                    nameSign : nameSignText,
                    shopName : $('.shopName').html(),
                    minPrice : $('.minPrice').html(),
                    address : $('.address').html(),
                    distance : $('.dist').html(),
                    timeout : $('.timeout').html()
                },
                success : function(res,data){
                    if(res.code == 666){
                        alert("商家信息如下：" + "店名:"+res.message1 + "起送金额:"+res.message2 + "地址:"+res.message3 + "距离："+res.message4 + "配送时间："+res.message5)
                        // 将行家信息展示在htmlDOM中
                    }else if(res.code == 555){
                        alert(res.message)
                    }

                }
            })
        })


    </script>
</body>
</html>