<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" href="../public/less/main_menu.less">
    <script src="../node_modules/less/dist/less.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="mainBox" id="mainBox">
            <!-- 这是左侧商家信息以及简介 -->
            <div class="left_main" id="left_main">
                <ul class="shop_list" id="shop_list">
                    <li class="shop_information">
                        <p>张三烧烤</p>
                    </li>
                    <li class="shop_information">
                        <p>￥20起送</p>
                    </li>
                    <li class="shop_information">
                        <p>宝龙城市广场</p>
                    </li>
                    li.sj
                    <li class="shop_information">
                        <p></p>
                    </li>
                </ul>
            </div>
            <!-- 这是右侧该商家的详细菜单展示 -->
            <div class="right_main" id="right_main">

            </div>
        </div>
    </div>
    <script>
        // 点击商家进入该界面后，左侧商家详细信息简介处需要获取到当前点击的a标签的商家名
    </script>
</body>
</html>