<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" href="../public/less/main_menu.less">
    <script src="../node_modules/less/dist/less.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="mainBox" id="mainBox">
            <!-- 这是左侧商家信息以及简介 -->
            <div class="left_main">

            </div>
            <!-- 这是右侧该商家的详细菜单展示 -->
            .
        </div>
    </div>
</body>
</html>