<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" href="../public/less/main_menu.less">
    <script src="../node_modules/less/dist/less.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="mainBox" id="mainBox">
            <!-- 这是左侧商家信息以及简介 -->
            <div class="left_main" id="left_main">
                <ul class="shop_list" id="shop_list">
                    <li class="shop_information">
                        <p class="shopName">张亮麻辣烫</p>
                    </li>
                    <li class="shop_information">
                        <p class="minPrice">￥20起送</p>
                    </li>
                    <li class="shop_information">
                        <p class="address">宝龙城市广场</p>
                    </li>
                    <li class="shop_information">
                        <p class="">2.3km</p>
                        <p>23分钟</p>
                    </li>
                    <li class="shop_information">
                        <p>张亮麻辣烫以其独特的风味配料征服了无数的顾客，蔬菜新鲜，肉质鲜美，吃了都说好。</p>
                    </li>
                </ul>
            </div>
            <!-- 这是右侧该商家的详细菜单展示 -->
            <div class="right_main" id="right_main">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        // 点击商家进入该界面后，左侧商家详细信息简介处需要获取到当前点击的a标签的商家名
        // shopName='张亮麻辣烫'
        // minPrice='￥20起送"
        // &address='宝龙城市广场'
        // &diatance='2.3km'
        // &time='23分钟'

        var a = getQueryString();
        console.log("这是拿到的数据shopName" + a['shopName'] + a['minPrice']);
        function getQueryString(){
            // 获取url中？后边的字符串
            var url = window.location.search
            var theRequest = new Object();
            if(url.indexOf("?") != -1){
                var str = url.substr(1)
                strs = str.split("&")
                for(var i = 0;i < strs.length;i++){
                    theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1])
                }
            }
            return theRequest
        }



    </script>
</body>
</html>