<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" href="../public/less/user_information.less">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/less/dist/less.min.js"></script>
</head>
<body>
    <!-- 个人信息管理界面，展示当前登录的用户的个人信息，包括手机号、密码、收货地址等。 -->
    <div class="container" id="container">
        <div class="mainBox" id="mainBox">
            <ul class="user_main" id="user_main">
                <li class="main_inform"><span class="main_img" id="main_img"></span></li>
                <li class="main_inform"><input type="text"></li>
                <li class="main_inform"><input type="text"></li>
                <li class="main_inform"><input type="text"></li>
            </ul>
        </div>
    </div>
    
</body>
</html>